/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(--background-image);
  background-color: var(--background-color);
}
/* -----------------------header------------------------ */

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  padding: 10px;
  min-height: 668px;
  height: 100vh;
}

/* -----------------------decorated-zone start------------------------ */

.decorated-zone::before {
  content: "";
  position: absolute;
  border-right: 1px solid var(--decorated-color, #FF0070);
  border-top: 1px solid var(--decorated-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-left: 1px solid var(--decorated-color, #FF0070);
  border-bottom: 1px solid var(--decorated-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

/* -----------------------decorated-zone end------------------------ */

.header__rec {
  text-transform: uppercase;
  position: absolute;
  inset-block-start: 14px;
  inset-inline-end: 40px;
  color: #FF0070;
}

.header__rec::after {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background: #FF0070;
  border-radius: 50%;
  inset-block-start: 4px;
  inset-inline-end: -20px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 14px;
  text-align: center;
}

/* -----------------------header button start------------------------ */

.header__theme-menu-button {
  padding: 2px 13px;
  background-color: transparent;
  border: none;
  color: var(--decorated-color, #FF0070);
  cursor: pointer;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid var(--decorated-color, #FF0070);
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--decorated-color, #FF0070);
}
.header__theme-menu-button_active {
  outline: 1px solid var(--decorated-color, #FF0070);
}

/* -----------------------header button end------------------------ */

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
}

.header__text {
  align-self: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--background-color);
}

/* -----------------------content------------------------ */
.content {
  padding: 40px 10px;
  display: grid;
  gap: 30px;
}

.content__title {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--text-color-title, #FF0070);
}

.content__subtitle {
  margin-block-start: 20px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--background-color);
}

.content__no-highlighted-title {
  margin-block-start: 20px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--background-color);
}

.content__text {
  margin-block-start: 10px;
  margin-block-end: 20px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--text-color, #F1B2CE);
}

.content__gallery__highlighted-title {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--background-color);
}

.content__gallery {
  display: grid;
  gap: 10px;
  object-fit: cover;
  object-position: center;
}

.content__gallery-images {
  display: grid;
  gap: 10px;
}

.sunset {
  max-width: 355px;
}

.ice-cream {
  max-width: 355px;
}

.tape {
  max-width: 355px;
}

.books {
  max-width: 355px;
}

.street {
  max-width: 355px;
}

/* -----------------------footer------------------------ */

.footer {
  display: grid;
  padding: 10px;
  min-height: 668px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-family: IBM Plex Mono;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: var(--title-color);
}

@media (min-width: 728px) and (width<1024px) {

  .header {
    min-height: 1024px;
    padding: 20px 20px 20px 0px;
  }

  .header__rec {
    inset-block-start: 25px;
    inset-inline-end: 50px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__text {
    margin-left: auto;
    max-width: 365px;
  }

  .header__rec::after {
    inset-block-start: 2px;
    inset-inline-end: -20px;
  }

  .content__why-is-it-so-difficult {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
  }

  .content__what_reduces-main {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
  }

  .content__how-to-concentrate {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
  }

  .footer {
    min-height: 1024px;
  }

}
